.fondoUser{
  background-image: url(../../../assets/img/universo11.jpg);
  background-repeat: no-repeat;
}

.jumbotron{
  position: relative;
  z-index: 5;
  height: 250px;
  width: 300px;
  color: #FFF;
  font-size: 400%;
  padding: 20px;
}
.jumbotron::before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../../../assets/img/fondoTabla1.jpg) center center;
  opacity: .7;
}

.row{
  margin-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.informacion{
  color: aliceblue;
  align-content: center;
}

table{
  background-color: blanchedalmond;
  opacity: 90%;
  width: 25%;

  margin: 15px;
  text-align: center;
}

th{
  color: #726a95;
}

td{
  color: #709fb0;
}

img{
  opacity: 100%;
}
