<app-navbar></app-navbar>
<div class="fondo">

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">LOGIN</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">

          <body>

            <div id="clouds">
              <div class="cloud x1"></div>
              <!-- Time for multiple clouds to dance around -->
              <div class="cloud x2"></div>
              <div class="cloud x3"></div>
              <div class="cloud x4"></div>
              <div class="cloud x5"></div>
            </div>

            <div class="container">
              <div id="login">
                <form method="post">
                  <fieldset class="clearfix">

                    <p><span class="fontawesome-user"></span><input #user type="text" value="Usuario"
                        onBlur="if(this.value == '') this.value = 'Usuario'"
                        onFocus="if(this.value == 'Usuario') this.value = ''" required></p>
                    <!-- JS because of IE support; better: placeholder="Username" -->
                    <p><span class="fontawesome-lock"></span><input #pass type="password" value="Password"
                        onBlur="if(this.value == '') this.value = 'Password'"
                        onFocus="if(this.value == 'Password') this.value = ''" required></p>
                    <!-- JS because of IE support; better: placeholder="Password"
                     <button id="btn-login" class="btn btn-success" (click)="entrar(user.value, pass.value)">Entrar  </button>
                    -->
                    <a id="btn-fblogin" class="btn btn-danger btn-lg  btn-block" (click)="EntrarconGoogle()"><i class="fab fa-google-plus-g"></i>Entrar con Google</a>
                    <a type="button" class="btn btn-primary btn-lg  btn-block" (click)="EntrarconFacebook()"><i class="fab fa-facebook"></i> Entrar con Facebook</a>
                    <p>
                      <input class="botones" type="submit" (click)="entrar(user.value, pass.value)" value="Sign In">
                    </p>

                  </fieldset>
                </form>
              </div> <!-- end login -->
            </div>

          </body>

        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>



