<app-navbar></app-navbar>
<section id="contact">
  <div class="section-content">
    <h1 class="section-header">Ven y <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s">Contactanos</span></h1>
    <h3>Obtendras nuestras ultimas novedades y responderemos cualquier duda que tengas.</h3>
  </div>
  <div class="contact-section">
  <div class="container">
    <form [formGroup]="forma" (ngSubmit)="MandarCorreo()">
      <div class="col-md-6 form-line">
          <div class="form-group">
            <label for="exampleInputUsername">Nombre completo</label>
            <input  formControlName="nombre" type="text" class="form-control" name="name" placeholder=" Nombre">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail">Correo Electronico</label>
            <input  formControlName="email" type="email" class="form-control" name="email" id="exampleInputEmail" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="telephone">Numero de telefono</label>
            <input  formControlName="phone" type="tel" class="form-control" name="phone" id="telephone" placeholder="Núm. Telefono">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for ="description">Mensaje</label>
             <textarea  formControlName="msj"class="form-control" id="description" name="message" placeholder="Mensaje..."></textarea>
          </div>
          <div>

            <button type="submit" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i> Enviar</button>
          </div>

      </div>
    </form>
    </div>
  </div>
</section>

<app-footer></app-footer>
