table {
  width: 100%;
}

.jumbotron {
  text-align: center;
  background-image: url(../../../assets/img/universo10.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  color: white;
}

.mat-elevation-z8{
  background-image: url(../../../assets/img/14.png);
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px;
}

table{
  opacity: 80%;
}

section {
  display: table;
  margin: 20px;
}

.btn{
  margin-left: 10px;
}
