.jumbotron{
  background-image: url(../../../assets/img/universo2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}

.display-3{
  font-size: 80px;
}

.card-columns{
  background-image: url(../../../assets/img/difuminado2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}


  .card-img-top:hover{
    transform: scale(1.1);
  }

  .card{
    margin: 10px;
  }
