<app-navbar></app-navbar>

<body>

  <div id="clouds">
    <div class="cloud x1"></div>
    <!-- Time for multiple clouds to dance around -->
    <div class="cloud x2"></div>
    <div class="cloud x3"></div>
    <div class="cloud x4"></div>
    <div class="cloud x5"></div>
  </div>

  <div class="container">

    <div id="login">

      <form [formGroup]="forma" (ngSubmit)="onSubmit()" >

        <fieldset class="clearfix">

          <p><span class="fontawesome-user form-control"></span><input #user type="text" value="Digite usuario..." placeholder="Digite usuario..."
              onBlur="if(this.value == '') this.value = 'Digite usuario...'" onFocus="if(this.value == 'Digite usuario...') this.value = ''"
              formControlName="username"
              required
              ></p>
          <!-- JS because of IE support; better: placeholder="Username" -->
          <p><span class="fontawesome-envelope form-control"></span><input #email type="email" value="example@gmail.com" placeholder="example@gmail.com"
              onBlur="if(this.value == '') this.value = 'example@gmail.com'" onFocus="if(this.value == 'example@gmail.com') this.value = ''"
              formControlName="email"
              required></p>
          <!-- JS because of IE support; better: placeholder="Email" -->
          <p><span class="fontawesome-lock form-control"></span><input #pass type="password" value="Password"  placeholder="Password"
              onBlur="if(this.value == '') this.value = 'Password'"
              onFocus="if(this.value == 'Password') this.value = ''"
              formControlName="password"
              required></p>
          <!-- JS because of IE support; better: placeholder="Password" -->
          <p><span class="fontawesome-lock form-control"></span><input type="password" value="Password" placeholder="Re-confrim password"
              onBlur="if(this.value == '') this.value = 'Password'"
              onFocus="if(this.value == 'Password') this.value = ''"
              formControlName="confirmPassword"
              required></p>
          <!-- JS because of IE support; better: placeholder="Password" -->
          <p><input type="submit" (click)="RegistroNuevo()" [disabled]="forma.invalid" value="Registrarse"></p>

        </fieldset>

      </form>

      <p >
        ¿Ya tienes una cuenta? <br> Inicia sesión.

        <a class="nav-link" routerLinkActive="active" [routerLink]="['/login']" class="blue" type="submit" data-toggle="modal"
          data-target="#exampleModal">Login</a>
        <span class="fontawesome-arrow-right"></span>
      </p>

    </div> <!-- end login -->
  </div>

</body>

<app-footer></app-footer>
