<app-navbar></app-navbar>

<body>
  <div class="container"></div>
  <div id="clouds">
    <div class="cloud x1"></div>
    <!-- Time for multiple clouds to dance around -->
    <div class="cloud x2"></div>
    <div class="cloud x3"></div>
    <div class="cloud x4"></div>
    <div class="cloud x5"></div>
  </div>

  <div class="container">

    <div id="login">

      <form class="responsive" [formGroup]="forma" novalidate (ngSubmit)="onSubmit()" >

        <fieldset class="clearfix">

               <div class="form-group has-success">
                <span class="fas fa-user form-control"></span>
                <input type="text"
                placeholder="Digite usuario..."
                class="form-control"
                [class.is-invalid]="UserIsInvalid"
                [class.is-valid]=" UserIsValid"
                formControlName="username">

                <div class="invalid-feedback"  *ngIf="username.invalid && (username.dirty || username.touched)">
                  <p *ngIf="username.errors.required">
                    Username es requerido
                  </p>
                  <p *ngIf="username.errors.minlength">
                    Username tiene que tener más de tres carácteres
                  </p>
                </div>

              </div>

          <!-- JS because of IE support; better: placeholder="Username" -->

          <div class="form-group has-success">
            <span class="fas fa-envelope form-control"></span>
            <input type="email"
             placeholder="example@gmail.com"
            class="form-control"
            [class.is-invalid]="EmailIsInvalid"
            [class.is-valid]=" EmailIsValid"
            formControlName="email">

            <div class="invalid-feedback"  *ngIf="email.invalid && (email.dirty || email.touched)">
              <p *ngIf="email.errors.required">
                Correo electronico es requerido
              </p>
              <p *ngIf="email.errors.minlength">
                Correo electronico mayor a 10 carácteres.
              </p>
              <p  *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.email">
                Correo electronico invalido.
              </p>
              <p  *ngIf="email.errors.noDisponible">
                 Este correo no esta disponible
              </p>
            </div>

          </div>
          <!-- JS because of IE support; better: placeholder="Email" -->
          <div class="form-group has-success">

            <span class="fas fa-user-lock form-control"></span>
            <input type="password"
            placeholder="Password"
            class="form-control"
            [class.is-invalid]="PassIsInvalid"
            [class.is-valid]=" PassIsValid"
            formControlName="password">

            <div class="invalid-feedback"  *ngIf="password.invalid && (password.dirty || password.touched)">
              <p *ngIf="password.errors.required">
                Contraseña es requerida
              </p>
              <p *ngIf="password.errors.minlength">
                Contraseña tiene que tener más de cinco carácteres
              </p>

            </div>

          </div>
          <!-- JS because of IE support; better: placeholder="Password" -->
          <div class="form-group has-success">
            <span class="fas fa-user-lock form-control"></span>
            <input type="password"
            placeholder="Confirm password"
            class="form-control"
            [class.is-invalid]="ConfirmPassIsInvalid"
            [class.is-valid]="ConfirmPassIsValid"
            formControlName="confirmPassword">

            <div class="invalid-feedback"  >
              <p *ngIf="forma.controls['confirmPassword'].hasError('NoIguales')">
              No coinciden las contraseñas
              <p>
            </div>

          </div>
          <!-- JS because of IE support; better: placeholder="Password" -->
          <p><input type="submit"  value="Registrarse"></p>

        </fieldset>

      </form>

      <p >
        ¿Ya tienes una cuenta? <br> Inicia sesión.

        <a class="nav-link" routerLinkActive="active" [routerLink]="['/login']" class="blue" type="submit" data-toggle="modal"
          data-target="#exampleModal" data-dismiss="modal" data-backdrop="false">Login</a>
        <i class="fas fa-arrow-right"></i>
      </p>


    </div><!--  end login -->
     <div *ngIf="conectado" class="alert alert-success exito" role="alert">
        <h4 class="alert-heading">Registrado!</h4>
        <p>Ohhhh yeah. Tu cuenta a sido registrada con exito, ahora formas parte de Kamel. ¡Bienvenido!</p>
        <hr>
        <p class="mb-0">Navega en nuestra página y dejate llevar.</p>
      </div>
  </div>

</body>

<app-footer></app-footer>
