
<div class="fondo">

  <!-- Modal -->




          <body>

            <div id="clouds">
              <div class="cloud x1"></div>
              <!-- Time for multiple clouds to dance around -->
              <div class="cloud x2"></div>
              <div class="cloud x3"></div>
              <div class="cloud x4"></div>
              <div class="cloud x5"></div>
            </div>

            <div class="container">
              <div id="login">
                <form method="post">
                  <fieldset class="clearfix">

                    <p><span class="fas fa-user"></span><input #user type="text" value="Usuario"
                        onBlur="if(this.value == '') this.value = 'Usuario'"
                        onFocus="if(this.value == 'Usuario') this.value = ''" required></p>
                    <!-- JS because of IE support; better: placeholder="Username" -->
                    <p><span class="fas fa-lock"></span><input #pass type="password" value="Password"
                        onBlur="if(this.value == '') this.value = 'Password'"
                        onFocus="if(this.value == 'Password') this.value = ''" required></p>
                    <!-- JS because of IE support; better: placeholder="Password"
                     <button id="btn-login" class="btn btn-success" (click)="entrar(user.value, pass.value)">Entrar  </button>
                    -->
                    <p><input type="submit" (click)="entrar(user.value, pass.value)" value="Sign In"></p>

                  </fieldset>
                </form>
              </div> <!-- end login -->
            </div>

          </body>






