.jumbotron{
  background-image: url('../../../assets/img/universo1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}

.row{
  margin: 20px;
}

td, th{
  vertical-align: center;
  text-align: center;
}

th{
  background: black;
  color: white;
}

td{
  margin-right: 50px;
  width: 25%;
}


.pause{
  list-style:none;
  position: absolute;
  left:80%;
  top: 20px;
  color: #05dfd7;

}

.play{
  list-style:none;
  position: absolute;
  left:90%;
  top: 20px;
  color: #05dfd7;

}

.play:hover{
  color: #fff591;
}

.pause:hover{
  color: #fff591;
}

