<app-navbar></app-navbar>
<div class="jumbotron">

  <li class="nav-item" >
    <a type="button" (click)="Parar()"><i class="far fa-pause-circle"></i></a>
    <a type="button"  (click)="AudioLeer()"><i class="fas fa-assistive-listening-systems"></i></a>
  </li>

  <h1 class="display-3">GAMES KAMEL</h1>
  <p class="lead">Acerca de Nosotros</p>
  <hr class="my-4">
  <p>Fundada en 1998</p>
  <div class="btn-group" id="botones" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary" onclick="$('#objetivos').hide(); $('#nosotros').show()">¿Quienes Somos?</button>
      <button type="button" class="btn btn-primary" onclick="$('#nosotros').hide(); $('#objetivos').show()">Nuestros Objetivos</button>
  </div>
</div>

<table class="table table-borderless" id="nosotros" style="display:none">
  <thead>
    <tr>
      <th colspan="3" style="background: black; color: white;">Nuetra Historia</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2">Somos una empresa dedicada a la venta de videjuegos, nuestro canal principal de ventas es online sin embargo también contamos con tiendas en el Distrito Federal.
        GAMES KAMEL fue creada en 1998 en mercado libre y tuvo buena aceptación por parte de los clientes ya que les llevamos sus videojuegos hasta el lugar mas recondito de México. Gracias a eso hoy somos la tienda #1 en venta de videojuegos en MercadoLibre
        Actualmente somos un equipo de 10 personas y día a día trabajamos para darte el mejor precio y servicio.
      </td>
      <td>
        <img src="../../../assets/img/tienda6.jpg" height="25%">
      </td>
    </tr>
    <tr>
      <td>
        <img src="../../../assets/img/tienda1.jpg" height="250px">
      </td>
      <td>
        <img src="../../../assets/img/tienda.jpg" height="250px">
      </td>
      <td>
        <img src="../../../assets/img/tienda4.jpg" height="250px">
      </td>
    </tr>
  </tbody>
</table>


<table class="table table-borderless" id="objetivos" style="display:none">
  <thead>
    <tr>
      <th colspan="2">Lo que Queremos Lograr...</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>El propósito de nuestra pagina web es brindar un servicio de compra de videojuegos para un público en general.  Contaremos con un amplio catalogo de videojuegos para cualquier edad y se mantendrá actualizado el contenido.
        Se tendrá una interfaz amigable. La comunicación con el usuario será eficiente y rápida.
        Lo que pretendemos transmitir es una opción de adquirir un videojuego de forma sencilla, cómoda y agradable. Nuestro catalogo tendrá un precio especial a comparación de otras paginas de ventas de videojuegos.
      </td>
      <td>
        <img src="../../../assets/img/fondo.jpg" height="25%">
      </td>
    </tr>
  </tbody>
</table>

<app-footer></app-footer>

